body{
    background-color: #444;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left:70px;
    padding-right:70px;
}div{
    display:inline;
    padding:0px;
    float:left;
}.big{
    background-color: white;
    height: 120px;
    width:30px;
    border-left:1px solid #777;
    border-right:1px solid #777;
}#piano{
    position:relative;
    display: block;
}.black{
    position:absolute;
    top:0;
    left:0;
    height:70px;
    width:14px;
    z-index:10;
    background-color:black;
}p{
    display: inline;
    position:absolute;
    top:10px;
    z-index:15;
    visibility: hidden;
}.white{
    color:white;
    top:-10px;
}button{
    border-radius: 0px;
    font-family:inherit;
    border:0px;
    width:70px;
    height:35px;
    margin-top:10px;
}#mentry{
    width:37px;
    height:33px;
    font-family: inherit;
    border-radius:0%;
    border:0px;
}button:disabled{
    color:black;
}#plus, #minus{
    width:33px;
}.instrum-content, .sounds-content{
    position: absolute;
    display:none;
    z-index:1;
}.instrum:hover .instrum-content{
    display: block;
}.sounds:hover .sounds-content{
    display:block;
}
.btn{
    float:none;
    display:block;
    margin:0;
    width:80px;
}.instrum, .sounds{
    margin-right:5px;
}.dropbtn{
    width:80px;
}button:hover{
    background-color: #bebebe;
}
